.blog-post-container {
  text-align: left;
}

.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3,
.blog-post-container h4,
.blog-post-container h5,
.blog-post-container h6 {
  text-align: left;
}

.blog-post-container p,
.blog-post-container ul,
.blog-post-container ol,
.blog-post-container blockquote {
  text-align: left;
  margin-bottom: 1.5rem; /* Adds extra space between paragraphs */
}

.blog-post-container li {
  margin-bottom: 0.5rem; /* Adds slight space between list items */
}

.blog-post-container img {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
  height: auto;
}
